<%= form_for(@daily_stat) do |f| %>
  <% if @daily_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_stat.errors.count, "error") %> prohibited this daily_stat from being saved:</h2>

      <ul>
      <% @daily_stat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :setinfo_pass %><br />
    <%= f.text_field :setinfo_pass %>
  </div>
  <div class="field">
    <%= f.label :kills %><br />
    <%= f.number_field :kills %>
  </div>
  <div class="field">
    <%= f.label :deaths %><br />
    <%= f.number_field :deaths %>
  </div>
  <div class="field">
    <%= f.label :hits %><br />
    <%= f.number_field :hits %>
  </div>
  <div class="field">
    <%= f.label :shots %><br />
    <%= f.number_field :shots %>
  </div>
  <div class="field">
    <%= f.label :headshots %><br />
    <%= f.number_field :headshots %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
