<table id="daily_stats" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Kills</th>
      <th>Deaths</th>
      <th>% Hits</th>
      <th>% Headshots</th>
      <th>Time played</th>
    </tr>
  </thead>
  <tbody>
    <% @daily_stats.each do |daily_stat| %>
    <tr>
      <td align="right"><%= link_to(daily_stat.name, "p/".concat(daily_stat.name.parameterize.underscore), :class => "popover-with-html", :title => daily_stat.name, "data-content" => "shit") %>
      <td align="right"><%= daily_stat.kills %></td>
      <td align="right"><%= daily_stat.deaths %></td>
      <td align="right"><%= (100 * daily_stat.hits.to_f/daily_stat.shots).round(2) %></td>
      <td align="right"><%= (100 * daily_stat.headshots.to_f/daily_stat.shots).round(2) %></td>
      <td align="right"><%= if (time=daily_stat.time)<60 then "#{time} mins" else "#{(time.to_f/60).round(1)} hrs" end %></td>
    </tr>
    <% end %>
  </tbody>
</table>
