<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @daily_stat.name %>
</p>

<p>
  <b>Setinfo pass:</b>
  <%= @daily_stat.setinfo_pass %>
</p>

<p>
  <b>Kills:</b>
  <%= @daily_stat.kills %>
</p>

<p>
  <b>Deaths:</b>
  <%= @daily_stat.deaths %>
</p>

<p>
  <b>Hits:</b>
  <%= @daily_stat.hits %>
</p>

<p>
  <b>Shots:</b>
  <%= @daily_stat.shots %>
</p>

<p>
  <b>Headshots:</b>
  <%= @daily_stat.headshots %>
</p>


<%= link_to 'Edit', edit_daily_stat_path(@daily_stat) %> |
<%= link_to 'Back', daily_stats_path %>
