<table id="perma_stats" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Kills</th>
      <th>Deaths</th>
      <th>% Hits</th>
      <th>% Headshots</th>
      <th>Time Played</th>
    </tr>
  </thead>
  <tbody>
    <% @perma_stats.each do |perma_stat| %>
    <tr>
      <td align="right"><%= link_to perma_stat.name, "p/".concat(perma_stat.name.parameterize.underscore)  %></td>
      <td align="right"><%= perma_stat.kills %></td>
      <td align="right"><%= perma_stat.deaths %></td>
      <td align="right"><%= (100 * perma_stat.hits.to_f/perma_stat.shots).round(2) %></td>
      <td align="right"><%= (100 * perma_stat.headshots.to_f/perma_stat.shots).round(2) %></td>
      <td align="right"><%= "#{perma_stat.time} hrs" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
