<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @perma_stat.name %>
</p>

<p>
  <b>Setinfo pass:</b>
  <%= @perma_stat.setinfo_pass %>
</p>

<p>
  <b>Kills:</b>
  <%= @perma_stat.kills %>
</p>

<p>
  <b>Deaths:</b>
  <%= @perma_stat.deaths %>
</p>

<p>
  <b>Hits:</b>
  <%= @perma_stat.hits %>
</p>

<p>
  <b>Shots:</b>
  <%= @perma_stat.shots %>
</p>

<p>
  <b>Headshots:</b>
  <%= @perma_stat.headshots %>
</p>


<%= link_to 'Edit', edit_perma_stat_path(@perma_stat) %> |
<%= link_to 'Back', perma_stats_path %>
