<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @round_stat.name %>
</p>

<p>
  <b>Setinfo pass:</b>
  <%= @round_stat.setinfo_pass %>
</p>

<p>
  <b>Kills:</b>
  <%= @round_stat.kills %>
</p>

<p>
  <b>Deaths:</b>
  <%= @round_stat.deaths %>
</p>

<p>
  <b>Hits:</b>
  <%= @round_stat.hits %>
</p>

<p>
  <b>Shots:</b>
  <%= @round_stat.shots %>
</p>

<p>
  <b>Headshots:</b>
  <%= @round_stat.headshots %>
</p>


<%= link_to 'Edit', edit_round_stat_path(@round_stat) %> |
<%= link_to 'Back', round_stats_path %>
