<head>
  <script type="text/javascript" charset="utf-8">
    jQuery.extend( jQuery.fn.dataTableExt.oSort, {
    "hrs-pre": function ( a ) {
    var x = a.split(" ")[0];
    if (a.match(/hrs/)) x = x*60;
    return parseInt( x, 10 );
    },
    
    "hrs-asc": function ( a, b ) {
    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
      },
      
      "hrs-desc": function ( a, b ) {
      return ((a < b) ? 1 : ((a > b) ? -1 : 0));
 	}
 	} );
  </script>
</head>

<table id="daily_table" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Kills</th>
      <th>Deaths</th>
      <th>K:D</th>
      <th>% Hits</th>
      <th>% Headshots</th>
      <th>Time played</th>
    </tr>
  </thead>
  <tbody>
    <% @daily_stats.each do |daily_stat| %>
    <% stats = PermaStat.find_by_setinfo_pass(daily_stat.setinfo_pass) %>
    <tr>
      <td align="right" width="30%"><%= render :partial => "popover" , :locals => { :player_name => daily_stat.name, :stats => stats } %></td>
      <td align="right"><%= daily_stat.kills %></td>
      <td align="right"><%= daily_stat.deaths %></td>
      <td align="right"><%= daily_stat.deaths == 0 ? 0 : (daily_stat.kills.to_f/daily_stat.deaths).round(2) %></td>
      <td align="right"><%= daily_stat.shots == 0 ? 0 : (100 * daily_stat.hits.to_f/daily_stat.shots).round(2) %></td>
      <td align="right"><%= daily_stat.shots == 0 ? 0 : (100 * daily_stat.headshots.to_f/daily_stat.shots).round(2) %></td>
      <td align="right"><% if (time = daily_stat.time) < 60 %>
			<%= "#{time} mins" %>
			<% else %>
			<%= "#{(time.to_f/60).round(1)} hrs" %>
			<% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
