<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th width="22%">Nick</th>
      <th width="13%">Kils</th>
      <th width="13%">Deaths</th>
      <th width="9%">K:D</th>
      <th width="13%">% Hits</th>
      <th width="13%">% Headshots</th>
      <th width="27%">Time played</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td colspan="7"><strong><font color="red">Terrorists - <%= @ts.count %> players</font></strong></td>
    </tr>
    <% @ts.sort_by{|e| -e[:kills]}.each do |player| %>
    <% reg_player = PermaStat.find_by_setinfo_pass(player.setinfo_pass) %>
    <tr>
      <td>
	<% if reg_player %>
	<%= render :partial => "popover" , :locals => { :player_name => player.name, :stats => reg_player } %>
	<% else %>
	<%= player.name %>
	<% end %>
      </td>
      <td><%= player.kills %></td>
      <td><%= player.deaths %></td>
      <td><%= (player.kills.to_f/player.deaths).round(1) %></td>
      <td><%= (100 * player.hits.to_f/player.shots).round(2) %></td>
      <td><%= (100 * player.headshots.to_f/player.shots).round(2) %></td>
      <td><% if (time = player.time / 60) < 60 %>
	  <%= "#{time} mins" %>
	  <% else %>
	  <%= "#{(time.to_f/60).round(1)} hrs" %>
	  <% end %>
      </td>
    </tr>
    <% end %>
    <tr>
    <td colspan="7" align="center"><strong><font color="blue">Counter Terrorists - <%= @cts.count %> players</font></strong></td>
    </tr>
    <% @cts.sort_by{|e| -e[:kills]}.each do |player| %>
    <% reg_player = PermaStat.find_by_setinfo_pass(player.setinfo_pass) %>
    <tr>
      <td>
	<% if reg_player %>
	<%= render :partial => "popover" , :locals => { :player_name => player.name, :stats => reg_player } %>
	<% else %>
	<%= player.name %>
	<% end %>
      </td>
      <td><%= player.kills %></td>
      <td><%= player.deaths %></td>
      <td><%= player.deaths == 0 ? 0 : (player.kills.to_f/player.deaths).round(2) %></td>
      <td><%= (100 * player.hits.to_f/player.shots).round(2) %></td>
      <td><%= (100 * player.headshots.to_f/player.shots).round(2) %></td>
      <td><% if (time = player.time / 60) < 60 %>
	  <%= "#{time} mins" %>
	  <% else %>
	  <%= "#{(time.to_f/60).round(1)} hrs" %>
	  <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
