<% require 'gchart' %>
<% mp = File.read("/home/nav/cs/cstrike/current_map").split(" ") %>

<div class="row">
  <div class="span2">
    <img src="/<%= mp[0] %>.jpg" height="130" width="200" style="border:3px ridge black" />
  </div>
  <div class="span3">
    <b><font size="3"><%= mp[0] %></font><br>
      <%= @round_stats.count %>/24</b> players<br>
    <i>running from <%= distance_of_time_in_words(Time.local(mp[4], mp[5], mp[6], mp[1], mp[2], mp[3]), Time.new) %></i>
  </div>
  <div class="span4">
    <a href="<%= @pie_chart %>">
    <img src="<%= @pie_chart %>" height="130" width="200" style="border:3px ridge black" />
    </a>
  </div>
</div>
<br>
<br>
<br>
<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Current score</a></li>
    <li><a href="#tab2" data-toggle="tab">Today's scores</a></li>
    <li><a href="#tab3" data-toggle="tab">All time scores</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= render "round_stats/index" %>
    </div>
    <div class="tab-pane" id="tab2">
      <%= render "daily_stats/index" %>
    </div>
    <div class="tab-pane" id="tab3">
      <%= render "perma_stats/index" %>
    </div>
  </div>
</div>
