<div class="row">
  <div class="span2">
    <img src="/<%= @map_name %>.jpg" height="130" width="200" style="border:3px ridge black" />
  </div>
  <div class="span3">
    <b><font size="3"><%= @map_name %></font><br>
      <%= @round_stats.count %>/24</b> players<br>
    <i>running from <%= distance_of_time_in_words(@map_time_started, Time.now) %></i>
  </div>
</div>
<br>
<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#current" data-toggle="tab">Current score</a></li>
    <li><a href="#daily" data-toggle="tab">Today's scores</a></li>
    <li><a href="#perma" data-toggle="tab">All time scores</a></li>
    <li><a href="#map_freq" data-toggle="tab">Map frequency</a></li>
    <li><a href="#players" data-toggle="tab">Player count</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="current">
      <%= render "round_stats" %>
    </div>
    <div class="tab-pane" id="daily">
      <div id="daily-div">
	<%= render "daily_stats" %>
      </div>
    </div>
    <div class="tab-pane" id="perma">
      <%= render "perma_stats" %>
    </div>
    <div class="tab-pane" id="map_freq">
      <%= render "pie" %>
    </div>
    <div class="tab-pane" id="players">
      <%= render "line" %>
    </div>
  </div>
</div>
