<% map_info = File.read("/home/nav/cs/cstrike/current_map") %>
<% map = map_info.split(" ")[0] %>
<% hr = map_info.split(" ")[1] %>
<% min = map_info.split(" ")[2] %>
<% yr = map_info.split(" ")[4] %>
<% month = map_info.split(" ")[5] %>
<% date = map_info.split(" ")[6] %>

<div class="row">
  <div class="span2">
    <img src="/<%= map %>.jpg" height="130" width="200" style="border:3px ridge black" />
  </div>
  <div class="span2">
    <b><font size="3"><%= map %></font><br>
      <%= @round_stats.count %>/24</b> players<br>
    <i>running from <%= distance_of_time_in_words(Time.local(yr, month, date, hr, min, 0), Time.new) %></i>
  </div>
</div>
<br>
<br>
<br>
<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Current score</a></li>
    <li><a href="#tab2" data-toggle="tab">Today's scores</a></li>
    <li><a href="#tab3" data-toggle="tab">All time scores</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= render "round_stats/index" %>
    </div>
    <div class="tab-pane" id="tab2">
      <%= render "daily_stats/index" %>
    </div>
    <div class="tab-pane" id="tab3">
      <%= render "perma_stats/index" %>
    </div>
  </div>
</div>
