<div id="map_info">
  <%= render :partial => "map_info" , :locals => { :map_name => @map_name, :no_of_players => @round_stats.count, :map_time_started => @map_time_started } %>
</div>

<br>
<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#current" data-toggle="tab">Current score</a></li>
    <li><a href="#daily" data-toggle="tab">Today's scores</a></li>
    <li><a href="#perma" data-toggle="tab">All time scores</a></li>
    <li><a href="#map_freq" data-toggle="tab">Map frequency</a></li>
    <li><a href="#players" data-toggle="tab">Player count</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="current">
      <%= render :partial => "round_stats", :locals => { :ts => @ts, :cts => @cts } %>
    </div>
    <div class="tab-pane" id="daily">
      <div id="daily-div">
	<%= render "daily_stats" %>
      </div>
    </div>
    <div class="tab-pane" id="perma">
      <%= render "perma_stats" %>
    </div>
    <div class="tab-pane" id="map_freq">
      <%= render "pie" %>
    </div>
    <div class="tab-pane" id="players">
      <%= render "line" %>
    </div>
  </div>
</div>
