<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "n00b Pub" %></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
<body>
  <div id="wrap">
    <header class="navbar navbar-fixed-top" style="z-index: 100;">
      <nav class="navbar-inner">
	<div class="container">
	  <%= render 'layouts/navigation' %>
	</div>
      </nav>
    </header>
    <div id="main" role="main">
      <a href="https://github.com/Navgeet/n00b-pub"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 1000;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub"></a>
      <div class="container">
	<div class="content">
	  <div class="row">
	    <div class="span12">
	      <%= render 'layouts/messages' %>
	      <%= yield %>
	    </div>
	  </div>
	  <footer>
	  </footer>
	</div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </div>
  <div id="footer">
    <div class="container" style="margin:0 auto; width:%100;">
      <hr style="height:0.5em; background-color:#737286; width:%150;" />
      <div class="row">
	<div class="span6">
	  <h4>Powered by</h4>
	  <ul>
	    <li>Tables served by <a href="http://datatables.net/">Datatables</a></li>
	    <li>CSS styling by <a href="http://twitter.github.com/bootstrap">Twitter Bootstrap</a></li>
	    <li>User authentication by <a href="https://github.com/plataformatec/devise/">Devise</a></li>
	    <li>All this riding <a href="http://rubyonrails.org/">Ruby on Rails</a></li>
	  </ul>
	</div>
	<div class="span6">
	  <h4>Help</h4>
	  <ul>
	    <li><a href="">FAQ</a></li>
	    <li>Not fixed ? <a href="">Report a bug or suggest features</a></li>
	  </ul>
	</div>
      </div>
    </div>
  </div>
</body>
</html>
